{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  
  
<body>
<div class="container">
  {% if request.session.currentUser == 'manager' %}
  <div class="center-align broadcastbtn">
  <a  href="/broadcast/create">
    <button class="btn waves-effect color1 waves-light">{% trans "sendBroadcast" %}</button>
  </a>
</div>
  {% endif %}
  <ul class="collection">
    {% for u in users %}
    <li class="collection-item avatar" onclick="location.href = '/chat/user/{{u.0.id}}';">
        <img src="{{u.0.profile.photo}}" onerror="this.src='https://cdn.pixabay.com/photo/2012/04/26/19/43/profile-42914__340.png'" alt="" class="circle">
        <span class="title">{{u.0.profile.name}} 
          {% if not u.0.profile.business %}
            {{u.0.profile.surname}}
          {% endif %}
        </span>
        {% if u.1 > 0 %}
            <span class="new badge">{{u.1}}</span>
        {% endif %}
        <p>{{u.2.text}}</p>
      </li>
    {% endfor %}
  </ul>
</div>
</body>
{% endblock %}