
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<script>
  let saved = {% if saved%}true{%else%}false{%endif%};
  if (saved){
      M.toast({html: '{%trans '1305'%}'});
  }
</script>
<div class="container">
  <div class="section">  
    <div class="row">
      <h3>{% trans "Challenge details" %}:</h3>
      <div class="col m6 s12">  
        <h5>{{challenge.title}}</h5>
      </div>
      <div class="col m6 s12">
        <h5>{% trans "Business" %}: {{ challenge.business }}</h5>
      </div>
    </div>
    <div>
    <div class="divider"></div>
    <p><b>{% trans "Description" %}:</b> {{ challenge.description }}</p> 
    <p><b>{% trans "Objectives" %}:</b> {{ challenge.objectives }}</p>

    {% if request.session.currentUser == 'freelancer' and not alreadyResponse %}
      <a class="btn waves-effect waves-red" href="/challengeResponse/create/{{challenge.id}}">{% trans "createAResponseForThisChallenge" %}<i class="material-icons right">send</i></a>
    {% endif %}
    {% if request.session.currentUser == 'freelancer' and alreadyResponse == True %}
      <b>{% trans "Responsed" %}</b>
    {% endif %}
    </div>
  </div>
  <div class="divider"></div>
  {% if lookResponses == True %}
  <div class="row">
    <h4 class ="col m1.5"  >{% trans "responsesChallenge" %}:</h4>
    </div>
    {% for response in responsesChallenge %}
    <div>
        <b>{{ response.title }}</b><p>{{response.description}}</p>
        <p>{% trans "freelancerResponse" %}: {{response.freelancer}} </p>
        <br>
    </div>
    <div class="divider"></div>
    {% endfor %}
  {% endif %}
</div>  
{% endblock %}