{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  
  
<body>
    <div class="container">
        <div class="col s12">  
            <h3>{% trans "threads" %}</h3>    
            <h5>{% trans "company" %}: {{businessThread.profile.name }}</h5>   
            <form action="/thread/business/list/">
                <div class="input-field">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <input id="search" name="search" type="search" style="padding-left:2em">
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        <div class="col s12">
            <div class="row collection">
                <div class="col s3 center"><h5>{% trans "title" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "company" %}</h5></div>
            </div>

            <div class="collection ">
                {% for thread in threads %}
                {% if businessThread.subscriptionModel != None %}
                <a href="/thread/detail/{{thread.id}}" class="color1c listItem">
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s3 center">{{ thread.title }}</div>
                        <div class="col s3 center">{{ thread.business.profile.name }}</div>
                        {% if thread.tags.all|length >= 2 %}
                        <div class="chip" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.first.title}}</div>
                        <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.all.1.title}}</div>
                        <div class="chip hide-on-med-and-up">+{{thread.tags.all|length|add:"-1"}}</div>
                        {% if thread.tags.all|length > 3 %}
                            <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.all.2.title}}</div>
                            <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">+{{thread.tags.all|length|add:"-3"}}</div>
                        {% endif %}
                        {% else %}
                            {% for tag in thread.tags.all %}
                            <div class="chip" title="{{tag.title}}">{{tag.title}}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div></a>
                {% endfor %}
            </div>

            {% if request.session.currentUser == 'business' and sub%}
                <div class="right">
                    <a href="/thread/create/" class="btn waves-effect waves-red color1">{% trans "New thread" %}</a>
                </div>
            {% elif request.session.currentUser == 'business' %}
                <div class="right">
                     <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" class="btn waves-effect waves-red color1">{% trans "New thread" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}