
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
        <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var options={
      numVisible:5,
      indicators:true
    }
    var instances = M.Carousel.init(elems, options);
  });
        </script>
<div class="row">
<div class="col s12 m8 offset-m2">
<div class="card  lighten-2 color1b">  
    <div class="row ">
        <div class="col m6 s12 ">
            <h3>{% trans "Thread details" %}:</h3>
        </div>
      <div class="col m6 s12">
        <h5>{{thread.title}}</h5>
      </div>
      <div class="col m6 s12">
        <h5>{% trans "Business" %}: {{ thread.business }}</h5>
      </div>
    </div>
    <div class="card color1b2 targetaDentroDeTargetaxd"> 
      <span class="card-title">{% trans "Description" %}:</span>
      {{ thread.description }}
    </div>

    <b>{% trans "Tags" %}:</b></br>
      {% for tag in thread.tags.all %}
    <div class="chip color1b2">{{tag.title}}</div>
      {% endfor %}
    <ul class="collection"><b >{% trans "Attached files" %}:</b>
      {% for file in thread.attachedFiles.all %}
      <li class="collection-item color1b2"><a class="colorEnlace" href="{{file.uri}}">{% trans "Attached file" %}</a></li>
      {% endfor %}  
    </ul>
     {% if owner %}
        <div>
          <div class="col s12 m6 center margintop" ><a href="/business/thread/edit/{{thread.id}}" class="btn waves-effect color1 waves-red">{% trans "Edit" %}</a></div>
          <div class="col s12 m6 center margintop" ><a href="/business/thread/delete/{{thread.id}}" class="btn waves-effect color1 waves-red">{% trans "Delete" %}</a></div>
        </div> 

          {% endif %}   
            {% comment %}<ul class="collection">
                <li><b>{% trans "valoration" %}:</b> {{ thread.valoration.score }}</li>
            </ul> {% endcomment %}
            <b>{% trans "pictures" %}:</b>
                  <div class="carousel carousel-slider carouseldethreaddetail">
                    {% for pic in thread.pics.all %}
                      <a class="carousel-item carouseldethreaddetail" href="{{pic.uri}}"><img src="{{pic.uri}}" class="img-responsive"></a>
                    {% endfor %}  
                  </div>
      
        </div>    
    <a class="waves-effect waves-teal btn-flat" href="/response/create/{{thread.id}}">{% trans "createAResponseForThisThread" %}     <i class="material-icons right">send</i>
    </a>
</div></div>
<div class="card color1b">
<h4 class ="center   "  >{% trans "responses" %}:</h4>
</div>
{% for response in responses %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card color1b">
                <h3>{{ response.title }}</h3><p>{{response.description}}</p>
                <p>{% trans "business" %}: {{response.business}} </p>
                <b>{% trans "pictures" %}:</b>
                <div class="carousel carousel-slider carouseldethreaddetail">
                {% if response.pics.count > 0 %}
                    {% for pic in response.pics.all %}
                      <a class="carousel-item carouseldethreaddetail" href="{{pic.uri}}"><img src="{{pic.uri}}" class="img-responsive"></a>
                    {% endfor %}
                {% endif %}
                </div>
                <br>
            </div>
        </div>
    </div>
{% endfor %}  

{% endblock %}