{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  
  
<body>
    <div class="container">
        <div class="col s12">  
            <h3>{% trans "threads" %}</h3>    
            <h5>{% trans "company" %}: {{businessThread.profile.name }}</h5>   
            <form action="/thread/business/list/">
                <div class="input-field">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <input id="search" name="search" type="search" style="padding-left:2em">
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        <div class="col s12">
            <div class="collection">
                {% for thread in threads %}
                    {% if businessThread.subscriptionModel != None %}
                    <a href="/thread/detail/{{thread.id}}" class="collection-item color1c">{{ thread.title }}   &nbsp;&nbsp;&nbsp;&nbsp;{% trans "company" %}: {{ thread.business.profile.name }}</a>
                    {% else %}
                    <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" class="collection-item color1c">{{ thread.title }}   &nbsp;&nbsp;&nbsp;&nbsp;{% trans "company" %}: {{ thread.business.profile.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="right">
                {% if businessThread.subscriptionModel != None %}
                <a href="/thread/create/" class="btn waves-effect waves-red color1">{% trans "New thread" %}</a>
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" class="btn waves-effect waves-red color1">{% trans "New thread" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}