
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="row">
<div class="col s12 m10 l10 offset-l1 offset-m1">
  <div class="col-sm-6">
    <h3>{{jobOffer.business.profile.name}}</h3>
  </div>


    <div class="card color1b">
      <div class="card-body ">
        <div class="row">
        <div class="col l11 offset-l1 s12 ">

          <div class="card color1b2 targetaDentroDeTargetaxd center"> 
            <h5 style="margin-top:-10px"><b>{% trans "positioDisplay" %}:</b></h5>
            {{jobOffer.position}}
          </div>
          <div class="card color1b2 targetaDentroDeTargetaxd"> 
          <h5 style="margin-top:-10px"><b>{% trans "experienceRequired"%}</b><i class="material-icons" style="margin-top:-10px">school</i></h5>
          <p class="card-text col l11 offset-l1 s12 ">{{jobOffer.experienceRequired}}</p>

          <h5><b>{% trans "schedule"%}</b> <i class="material-icons" style="margin-top:-10px">access_time</i></h5>
          <p class="card-text col l11 offset-l1 s12 ">   {{jobOffer.schedule}}</p>

          <h5><b>{% trans "salary"%}</b> <i class="material-icons" style="margin-top:-10px">euro_symbol</i></h5>
          <p class="card-text col l11 offset-l1 s12 m10 ">{{jobOffer.salary}} </p>

          <h5><b>{% trans "ubication"%}</b> <i class="material-icons" style="margin-top:-10px">location_city</i></h5>
          <p class="card-text col l11 offset-l1 s12 ">{{jobOffer.ubication}}</p>

          <h5><b>{% trans "description"%}</b><i class="material-icons" style="margin-top:-10px">info</i></h5>
          <p class="card-text col l11 offset-l1 s12 ">{{jobOffer.description}}</p>

          {% if owner %}
          <p class="card-text col l2 offset-l5 s12"><a href="/business/joboffer/edit/{{jobOffer.id}}" class="btn color1 waves-effect waves-red">{% trans "Edit" %}</a></p>
          <p class="card-text col l2 offset-l5 s12"><a href="/business/joboffer/delete/{{jobOffer.id}}" class="btn color1 waves-effect waves-red">{% trans "Delete" %}</a></p>
          {% endif %}
        </div>
      </div>
    </div>

    </div>

      <div class="row text-center text-lg-left">
      {% for pic in pics %}
         <div class="col-lg-3 col-md-4 col-6 center">
          <a target="_blank" rel="noopener noreferrer" href="{{pic}}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{pic}}" alt="">
          </a>
          </div>
      {% endfor %}
      </div>
      {% if not owner %}
      <div class="card color1b2">
          <div class="card-body">
            <div class="row">
              <div class="col l11 offset-l1 s12">
                <h5><b>{% trans "Contact"%}</b><i class="material-icons" style="margin-top:-10px">mail</i></h5>
                <a class="colorEnlace" href="/chat/user/{{jobOffer.business.profile.user.id}}">{% trans "Contact" %}</a>
              </div>
            </div>
          </div>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}