{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}   
<body>
    <div class="container">
        <div class="col s12">  
            <h3>{% trans "joboffers" %}</h3>
            <form action="/joboffer/user/list/">
                <div class="input-field">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <input id="search" name="search" type="search" style="padding-left:2em">
                <a class="tooltipped" data-position="bottom" data-tooltip="{% trans "joboffersearchinfo" %}"><i class="material-icons left">info</i></a>
                </br>
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
        <div class="col s12">
            <div class="row collection">
                <div class="col s3 center"><h5>{% trans "company" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "salary" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "schedule" %}</h5></div>
            </div>

            <div class="collection ">
                {% for jobOffer in jobOffers %}
                {% if sub %}
                <a href="/jobOffer/detail/{{jobOffer.id}}" class="color1c listItem">
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s3 center">{{ jobOffer.business.profile.name }}</div>
                        <div class="col s3 center">{{ jobOffer.salary}}</div>
                        <div class="col s3 center">{{ jobOffer.schedule}}</div>
                    </div>
                </div></a>
                {% endfor %}
            </div>

            {% if request.session.currentUser == 'business' and sub%}
                <div class="right">
                    <a href="/business/joboffer/create" class="btn waves-effect waves-red color1 ">{% trans "newOffer" %}</a>
                </div>
            {% elif request.session.currentUser == 'business' %}
                <div class="right">
                    <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="" class="btn waves-effect waves-red color1 ">{% trans "newOffer" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}