{% extends "base_generic.html" %}
{% load i18n %}
{% block content %} 
  
<body>
    <div class="container">
        <div class="col s12">  
            <form action="search">
                <div class="input-field">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <input id="search" name="search" type="search" style="padding-left:2em">
                <i class="material-icons">close</i>
                </div>
            </form>
        </div>
{% if curriculums or jobOffer or threads or events or challenges %}
        {% if request.session.currentUser == 'business' and curriculums %}
        <h3>{% trans "curriculums" %}</h3>
        <div class="col s12">
            <div class="row">
                <div class="col s4"><h5>{% trans "name" %}</h5></div>
                <div class="col s4"><h5>{% trans "aptitudes" %}</h5></div>
            </div>
            <div class="collection">
                {% for curriculum in curriculums %}

                {% if sub and request.session.currentUser == 'business' %}
                <a href="/freelancer/detail/{{curriculum.freelancer.id}}" class="color1c listItem">
                {% elif request.session.currentUser == 'business' %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% else %}
                <a href="/freelancer/detail/{{curriculum.freelancer.id}}" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">

                    <div class="row">
                        {% if curriculums %}
                        <div class="col s4">{% if curriculum.featured %} <i class="material-icons">star</i> {% endif %}{% if curriculum.verified %} <i class="material-icons">verified_user</i> {% endif %}{{curriculum.freelancer.profile.name }}</div>

                        <div class="col s4">
                            {% for key, value in aptitudes.items %}
                                {% if curriculum.id == key %}
                                    {% for v in value %}
                                        {{ v.aptitude }}<br/>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if jobOffer %}
        {% if request.session.currentUser == 'business' or request.session.currentUser == 'freelancer' or request.session.currentUser == 'manager' %}
        <h3>{% trans "joboffers" %}</h3>
        <div class="col s12">
            <div class="row collection">
                <div class="col s3 center"><h5>{% trans "company" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "salary" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "schedule" %}</h5></div>
            </div>

            <div class="collection ">
                {% for jobOffer in jobOffers %}
                {% if sub %}
                <a href="/jobOffer/detail/{{jobOffer.id}}" class="color1c listItem">
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s3 center">{{ jobOffer.business.profile.name }}</div>
                        <div class="col s3 center">{{ jobOffer.salary}}</div>
                        <div class="col s3 center">{{ jobOffer.schedule}}</div>
                    </div>
                </div></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}




        {% if threads %}
        {% if request.session.currentUser == 'business' or request.session.currentUser == 'manager'%}
        <h3>{% trans "threads" %}</h3>
        <div class="col s12">
            <div class="row collection">
                <div class="col s3 center"><h5>{% trans "title" %}</h5></div>
                <div class="col s3 center"><h5>{% trans "company" %}</h5></div>
            </div>

            <div class="collection ">
                {% for thread in threads %}
                {% if businessThread.subscriptionModel != None %}
                <a href="/thread/detail/{{thread.id}}" class="color1c listItem">
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s3 center">{{ thread.title }}</div>
                        <div class="col s3 center">{{ thread.business.profile.name }}</div>
                        {% if thread.tags.all|length >= 2 %}
                        <div class="chip" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.first.title}}</div>
                        <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.all.1.title}}</div>
                        <div class="chip hide-on-med-and-up">+{{thread.tags.all|length|add:"-1"}}</div>
                        {% if thread.tags.all|length > 3 %}
                            <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">{{thread.tags.all.2.title}}</div>
                            <div class="chip hide-on-small-only" title="{% for tag in thread.tags.all %}{{tag.title}}, {% endfor %}">+{{thread.tags.all|length|add:"-3"}}</div>
                        {% endif %}
                        {% else %}
                            {% for tag in thread.tags.all %}
                            <div class="chip" title="{{tag.title}}">{{tag.title}}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div></a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}


        {% if request.user.is_authenticated and events%}
        <h3>{% trans "events" %}</h3>
        <div class="col s12">
            <div class="row collection">
                <div class="col s3"><h5>{% trans "title" %}</h5></div>
                <div class="col s3"><h5>{% trans "location" %}</h5></div>
                <div class="col s3"><h5>{% trans "moment" %}</h5></div>
            </div>
            <div class="collection">
                {% for event in events %}
                {% if sub %}
                <a href="/event/detail/{{event.id}}" class="color1c listItem">
                {% else %}
                <a onclick="alert('{% trans "Please, buy a subscription to access this functionality" %}')" href="#" class="color1c listItem">
                {% endif %}
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s3">
                            {{ event.title }}</div>
                        <div class="col s3">{{ event.location}}</div><div class="col s3">{{ event.moment}}</div>
                        {% if event.tags.all|length > 2 %}
                        <div class="chip" title="{% for tag in event.tags.all %}{{tag.title}}, {% endfor %}">{{event.tags.first.title}}</div>
                        <div class="chip hide-on-small-only" title="{% for tag in event.tags.all %}{{tag.title}}, {% endfor %}">{{event.tags.all.1.title}}</div>
                        <div class="chip hide-on-med-and-up">+{{event.tags.all|length|add:"-2"}}</div>
                        <div class="chip hide-on-small-only">+{{event.tags.all|length|add:"-1"}}</div>
                        {% else %}
                            {% for tag in event.tags.all %}
                            <div class="chip" title="{{tag.title}}">{{tag.title}}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            
        {% endif %}


            {% if challenges %}
        <h3>{% trans "challengesList" %}</h3>
        <div class="col s12">
            <div class="row collection">
                <div class="col s4"><h5>{% trans "company" %}</h5></div>
                <div class="col s4"><h5>{% trans "title" %}</h5></div>
            </div>
            <div class="collection">
                {% for challenge in challenges %}
                <a href="/challenge/detail/{{challenge.id}}" class="color1c listItem">
                <div class="collection-item listItem">
                    <div class="row">
                        <div class="col s4 ">{{ challenge.business.profile.name }}</div><div class="col s4">{{ challenge.title}}</div><div class="col s3 offset-s1">
                    </div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
            {% endif %}
{%else%}
        {%trans 'Nothing'%}
        {%endif%}
    </div>
    
</body>
{% endblock %}