{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}


<body>
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card  lighten-2 color1b">
        <h1>{{buss.profile.name}}</h1><br>
        <div class="card color1b2 targetaDentroDeTargetaxd">
          <span class="card-title">{% trans "Current Subscription" %}:</span>
          {% if buss.subscriptionModel == None %}
          <br>
            <a href="subscription">{% trans "You don't have any subscription, click here for see ours subscription models" %}</a><br>
            <span>{% trans "Note that the subscription may take time to be updated" %}</span>
          {% else %}
            <h5>{{buss.subscriptionModel.name}}</h5>
            <strong>{% trans 'Current Coins' %}:</strong> {{buss.coins}}<br>
            <strong>{% trans 'Max Coins' %}:</strong> {{buss.subscriptionModel.maxCoins}}<br>
            <strong>{% trans 'Coins Gain per month' %}:</strong> {{buss.subscriptionModel.coinsGain}}<br>
            <strong>{% trans 'Price' %}:</strong> {{buss.subscriptionModel.price}}€<br><br>
            <!--{% trans "Cancel Subscription" %}-->
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    
</body>
{% endblock %}