
{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<body>
    <div class="container">
        <div class="col s12">
          <div class="section">
            <h3>{{ event.title }} </h3>  
          </div>
          <div class="divider"></div>
          <div class="section">
            <i class="material-icons">event</i> <b>{% trans "description" %}</b>
            <p>{{ event.description }}</p>  
          </div>
          <div class="divider"></div>
          <div class="section">
            <i class="material-icons">place</i><b>{% trans "location" %}</b>
            <p>{{ event.location }}</p>  
          </div>
          <div class="divider"></div>
          <div class="section">
            <i class="material-icons">date_range</i><b>{% trans "moment" %}</b>
            <p>{{ event.moment }}</p>  
          </div>
          <div class="divider"></div>
          <div class="section">
            <i class="material-icons">local_offer</i><b>{% trans "tags" %}</b>
            <br>
            <br>
            {% for tag in event.tags.all %}
              <div class="chip">{{tag.title}}</div>
            {% endfor %} 
          </div>
          <div class="divider"></div>
          <div class="section">
            <b>{% trans "assistants" %}</b>  
            <div class="section"></div>    
            <div class="row">
              <div class="col s6">
                <i class="material-icons">people</i><h6>{% trans "freelancers" %}</h6>
                <div class="collection">
                  {% for freelancer in freelancers %}
                  <div class="collection-item">
                    {{ freelancer.profile.name }} {{ freelancer.profile.surname }}
                  </div>
                  {% endfor %}
                </div>
              </div>
              <div class="col s6">
                <i class="material-icons">business_center</i><h6>{% trans "companies" %}</h6>
                <div class="collection">
                  {% for company in companies %}
                  <div class="collection-item">
                    {{ company.profile.name }} {{ company.profile.surname }}
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% if request.session.currentUser == 'business' or request.session.currentUser == 'freelancer'%}
            {% if not joining %}
              <div class="right">
                <a href="/event/join/{{event.id}}" class="btn color1 waves-effect waves-red">{% trans "Join" %}</a>
              </div>
            {% else %}
              <div class="right">
                <a href="/event/disjoin/{{event.id}}" class="btn color1 waves-effect waves-red">{% trans "Disjoin" %}</a>
              </div>
            {% endif %}
          {% endif %}
          {% if request.session.currentUser == 'manager'%}
          <div class="row">
            <div class="col s12">
              <div class="left">
                <a href="/event/edit/{{event.id}}" class="btn color1 waves-effect waves-red">{% trans "Edit" %}</a>
                <a href="/event/delete/{{event.id}}" class="btn color1 waves-effect waves-red">{% trans "Delete" %}</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>
</body>
{% endblock %}